<div class="modal fade bootsy-modal" tabindex="-1" role="dialog"
  data-no-turbolink data-gallery-id="<%= container.bootsy_image_gallery_id %>">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog modal-vertical-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-msg">
            <span class="big-subject">
              <%= t 'bootsy.image.p' %>            
            </span>            
          </div>
          <div class="exit-wrapper" data-dismiss="modal">
            <span class="exit"></span>
          </div>
        </div>

        <div class="modal-body">
          <div class="alert alert-info bootsy-empty-alert">
            <%= t 'bootsy.no_images_uploaded' %>
          </div>

          <div class="row bootsy-gallery"></div>

          <%= render 'bootsy/images/loader', image_class: 'bootsy-gallery-loader' %>

          <%= refresh_btn %>
        </div>

        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
</div>
